@{
    ViewData["Title"] = "O mě";
}

<img src="~/images/avatar.jpg" class="avatar"  alt="Shadow" />
<p>Vítejte na prvním webu v ASP.Net core, zatím jde o testovací produkt</p>

<p>Na tomto webu se dozvíte něco málo o mně, o mých dovednostech a o mých referencích. Pokud budete chtít, můžete mě kontaktovat na <a asp-controller="Home" asp-action="Contact"> Kontaktní stránce</a></p>

<p>
    Rád čtu a někdy (hlavně v létě) i sportuju.
</p>

<p>
    Mým hlavním koníčkem (a doufám že jednou i zaměstnáním) je <strong>programování</strong>!
</p>

<p>
    <a asp-action="Home" asp-action="References" class="reference-tlacitko">
        Moje reference
    </a>
</p>
<div class="cistic"></div>
