@{
    ViewData["Title"] = "Dovednosti";
}


<table id="dovednosti">
    <tr class="centrovany">
        <td>
            <img src="~/images/html.png" alt="HTML" />
        </td>
        <td>
            <img src="~/images/java.png" alt="Java" />
        </td>
        <td>
            <img src="~/images/pascal.png" />
        </td>
    </tr>
    <tr class="centrovany">
        <td>
            <h2>HTML</h2>
            <p>HTML je základní jazyk pro tvorbu webových stránek. Více se o něm dozvíte na <a href="https://www.w3schools.com/html/">w3schools.com</a></p>
        </td>
        <td>
           <h2>Java</h2>
           <p>Java je objektově orientovaný programovací jazyk, který je využíván pro tvorbu webových aplikací. Více se o něm dozvíte na <a href="https://www.w3schools.com/java/">w3schools.com</a></p>
        </td>
        <td>
            <h2>Pascal</h2>
            <p>Pascal je programovací jazyk, který je využíván pro výuku programování. Více se o něm dozvíte na <a href="https://www.w3schools.com/pascal/">w3schools.com</a></p>
        </td>
</table>